.emargency-section{
    background-color: blueviolet;
    padding: 80px 0px ;
}
.emargency-design{
    text-align: center;

}
.fist-div-emergancy{
    border: 2px dashed red;
    padding: 10px;
    display: inline-block;
    border-radius: 50%;
}
.sec-div-emargency{
    border: 2px dashed green;
    padding: 30px;
    display: inline-block;
    border-radius: 50%;
}