.carousel-indicators [data-bs-target]{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #222654;
}
.carousel-div{
    width: 100%;
}
.carousel-div img{
    width: 100%;
}
.carousel-text {
    font-size: 2rem;
    width: 40%;
    background-color: rgb(34 38 84);
    box-shadow: 3px 3px 18px -4px #222654;
    padding: 60px 30px;
    margin-bottom: 236px;
    border-radius: 35px;
    margin-left: 25px;
}
